header {
  min-height: 64px;
  padding-right: 80px;
  background: #fff;
  box-shadow: rgb(208, 215, 222) 0px -1px 0px 0px inset;
}

main {
  flex: 1;
  display: flex;
}

.sidebar {
  height: 100%;
  background-color: rgb(50, 65, 87);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }
  .sidebar-el-menu {
    height: 100%;
  }
}

.content-box {
  flex: 1;
  background: #f0f0f0;
}

.content {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
}
